h1{
    color:darkblue;
    font-size: 50px;
    margin-left: 50px;
}
body{
   
    background:#f4f4f4;

}
#demo{
    margin-left: 50px;
    color:darkblue;
    font-size: 50px;
}
img{
    margin-left: 50px;
}